@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
@import url(components/container.css);
@import url(components/banner.css);
@import url(components/card-grid.css);

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}

h2{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
margin: 0px;
}