.banner{
background-image:linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%), url(../../images/tv-picture.jpg);
color: whitesmoke;
padding: 150px 0px;
}

.banner h2{
font-weight: lighter;
font-size: 30px;
margin-bottom: 50px;
}