.card-grid{
display: flex;
flex-wrap: wrap;
}

.card{
padding: 20px;
display: flex;
align-items: center;
justify-content: space-between;
margin: 10px;
flex-basis: 250px;
flex-grow: 1;
box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
}

.card img{
width: 100px;
border-radius: 6px;
}

.card h3{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 15px;
}